@import "../sass/abstracts/variables";
@import "../sass/components/buttons";

.testimonial {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;

  .testimonial__image-container {
    width: 50%;
    min-width: 350px;
    .testimonial__image {
      width: 80%;
      box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
    }
  }
}

.testimonial__info {
  color: whitesmoke;
  a {
    color: $primary-color;
    text-decoration: none;
  }
}
