@import "../sass/abstracts/variables";
@import "../sass/components/buttons";


.customer-info {
  display: flex;
  flex-flow: row wrap;
  gap: 1rem;
  padding: 1rem;

  &__user {
    border: 2px solid $primary-color;
    border-radius: 20px;
    display: flex;
    flex-flow: column wrap;
    padding: 1rem;
    min-width: 300px;
    background: whitesmoke;

    .button {
      width: 150px;
      align-self: center;
    }

    &--picture {
      align-self: center;
      border: 2px solid $primary-color;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      overflow: hidden;

      img {
        width: 100%;
      }

    }
  }

}

.testimonial {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  padding: 2rem;

  .testimonial__image-container {
    width: 50%;
    min-width: 350px;
    .testimonial__image {
      width: 80%;
      box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.5);
    }
  }
}

.testimonial__info {
  color: whitesmoke;
  a {
    color: $primary-color;
    text-decoration: none;
  }
}
