<main class="about-container">
  <section class="about-container__main">
    <h1 class="about-container__main--title">Angular Showcase</h1>
    <div class="paragraph-section">
      <p>This is a test site created to showcase the use of all of the features angular has to offer</p>
      <ol type="none">
        <li>Routing</li>
        <li>Directives</li>
        <li>Content Projetion</li>
        <li>Host Listener and Renderer2</li>
        <li>Services</li>
        <li>API Consumption</li>
        <li>Directives (attribute and structural)</li>
        <li>Custom Directives</li>
        <li>Custom Pipes</li>
        <li>Reactive Forms</li>
        <li>RxJs</li>
        <li>State Management</li>
        <li>Interceptors</li>
        <li>Service Workers</li>
      </ol>
      <p>Feel free to use my code as you please, some of the functionalities might be useful for your projects</p>
    </div>
    <button (click)="getCoins()" class="button">Get Info</button>
  </section>
</main>
