@import "../sass/abstracts/variables";

.packages {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("https://images.unsplash.com/photo-1485988412941-77a35537dae4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=896&q=80")
      no-repeat center/cover;
}

.package {
  border: 2px solid $dark;
  border-radius: 5px;
  background: $primary-color;
  padding: 16px;
  width: 80%;
  color: $secondary-color;
  text-align: center;
  display: flex;
  position: relative;
  justify-content: center;
  margin: 1rem;

  &__item {
    border: 2px solid $dark;
    border-radius: 5px;
    background: $complementary-color;
    color: whitesmoke;
    padding: 1rem;
    width: auto;
  }

  h1 {
    color: whitesmoke;
  }

  a {
    text-decoration: none;
  }

  h2 {
    color: $secondary-color;
  }

  &:hover {
    border: 2px solid $complementary-color;
  }

  .badge {
    position: absolute;
    top: 0;
    right: 0;
    margin-right: 1rem;
    font-size: 0.8rem;
  }
}

.premium {
  background: $secondary-color;
  color: $primary-color;
  h2 {
    color: $primary-color;
  }
}
