@import "/src/app/sass/abstracts/variables";
@import "/src/app/sass/components/buttons";


.type-span {

  &:nth-child(1)::after {
    content: ',';
  }

  &:nth-child(2){
    margin-left: 0.3rem;
  }

}

.pokemon-grid {
  display: flex;
  color: whitesmoke;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;


  &__card {
    border: 2px solid $primary-color;
    background: $primary-opaque;
    border-radius: 5px;
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    padding: .5rem;
    position: relative;

    &--badge {
      font-weight: bold;
      position: absolute;
      top: 0;
      left: 0;
      margin: 0.5rem;
    }
  }

  &__item {
    text-align: center;
    font-size: 1.1rem;
    font-weight: bold;
    width: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    img:hover {
      transform: scale(1.2)
    }
  }
}

.buttons {
  display: flex;
  justify-content: center;
  margin: 1rem;

  button {
    width: 200px;
  }
}

.modal {
  p {
    margin: 5px;
  }
}
