<app-modal *ngIf="modalOpened">
  <div class="modal" (clickOutside)="close()">
<p>Height: {{ selectedPokemon.height | convertorPipe:'cmToMeter' }} m.</p>
<p>Base Experience: {{ selectedPokemon.experience }}</p>
<div>
  Type: <span [ngClass]="{'type-span': selectedPokemon.types.length > 1}" *ngFor="let type of selectedPokemon.types;">
    <span>{{ type.type.name }}</span>
  </span>
</div>
  </div>
</app-modal>

<main>
  <div class="pokemon-grid">
    <div class="pokemon-grid__card" *ngFor="let pokemon of pokemonList; index as i">
      <div class="pokemon-grid__card--badge">{{ pokemonImg[i]?.id }}</div>
      <div class="pokemon-grid__item">
        <span *ngIf="pokemonImg[i]">{{ pokemon.name }}</span>
        <img class="pokemon-grid__image" *ngIf="pokemonImg[i]" [src]="pokemonImg[i]?.sprite" [alt]="pokemon.name" (click)="getPokemonInfo(i);">
        <div *ngIf="!pokemonImg[i]" class="lds-ripple">
          <div></div>
          <div></div>
        </div>
      </div>
    </div>
  </div>
  <div class="buttons">
    <button class="button" [disabled]="!previousUrl" (click)="previousPokemon()">Prev Pokemon</button>
    <button class="button" (click)="nextPokemon()">Next Pokemon</button>
  </div>

</main>







