@import "/src/app/sass/abstracts/variables";
@import "/src/app/sass/components/buttons";

.modal {
  z-index: 200;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 30%;
  background: whitesmoke;
  padding: 1rem;
  border: 2px solid black;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttons {
  margin: 1rem;

  .button {
    margin: 0.5rem;
    width: 100px;
  }
}
