@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("./app/sass/abstracts/_variables.scss");

* {
  box-sizing: border-box;
  // font-size: 62.5%;
}

html,
body {
  font-family: "Montserrat", sans-serif;
  margin: 0px;
  padding: 0px;
  // font-size: 1.6rem;
}

.backdrop {
  background: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  z-index: 99;
}

.modal {
  z-index: 200;
  position: fixed;
  left: 50%;
  top: 20%;
  transform: translate(-50%, -50%);
  width: 40vh;
  background: whitesmoke;
  padding: 1rem;
  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.buttons {
  margin: 1rem;

  .button {
    margin: 0.5rem;
    width: 100px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
