<div *ngIf="isOpen" class="backdrop"></div>
<div class="container" *ngIf="isOpen" (clickOutside)="closeNav()">
  <ul>
    <li>
      <a routerLink="/home">Home</a>
    </li>
    <li>
      <a routerLink="/about">About</a>
    </li>
    <li>
      <a routerLink="/packages">Packages</a>
    </li>
    <li>
      <a routerLink="/customers">Customers</a>
    </li>
    <li>
      <a routerLink="/pokemon">Pokemons</a>
    </li>
    <li>
      <a routerLink="/gallery">Gallery</a>
    </li>
    <li>
      <a routerLink="/signup">Sign Up</a>
    </li>
  </ul>
</div>
